/****************************************************************/




/*******************fonts*************************************************/

@font-face {
  font-family: 'Persona5';
  src: url(../fonts/Persona5.ttf);
  font-weight: bold;
  font-style: bold;
}
h1{
  font-family: 'persona5';
  text-align: center;
  border-bottom: 21%;
}





/*****************sizing******************************************************/
.w-15{
  width: 15%;
}
/*****************COLORS*****************************************************/

.bg-red{
  background-color: rgb(163, 13, 13);
}
.nav-link{
  color:rgb(255, 255, 255) !important;

}
.nav-link:hover{
  color:rgb(242, 255, 0) !important;

}
.social-icons-white{
  color: white;
}
/******************Hero*********************************************************/




/*********personajes*************/
#wrapper {

  background-image: url(http://atlus.com/persona5/img/characters/chara_detail_bg.jpg);
  background-repeat: repeat-y;
  background-attachment: fixed;
}


.char {
  color: white;
font-size: 100%;
}

#pics{
margin: 7px 0px 0px 0px;

}


.protag #pics{
background-image: url("http://atlus.com/persona5/img/characters/chara_phantom_protag_bg.png");
    background-repeat: no-repeat;
  background-size:contain;
background-origin: border-box;
  


}


.char #pics img{
  width: 100%;

 
}
#bio{
padding: 0%;
width:80%;
position: relative;
left: 8%;

}
.char #bio{
width:92%;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
  z-index: 9;
   background-color: black;
  position: relative;
border: 5px solid white;

box-shadow: -5px 5px 5px 5px black;





  
}
#pics{

}

#bio p{
 

 
  padding-bottom: 10px;
  position: relative;


}

.skull #pics{

background-image: url("http://atlus.com/persona5/img/characters/chara_phantom_skull_bg.png");
    background-repeat: no-repeat;
  background-size:cover;
}

.panther #pics{

background-image: url("http://atlus.com/persona5/img/characters/chara_phantom_panther_bg.png");
    background-repeat: no-repeat;
  background-size:cover;
}


.fox #pics{

background-image: url("http://atlus.com/persona5/img/characters/chara_phantom_fox_bg.png");
    background-repeat: no-repeat;
  background-size:cover;
}

.queen #pics{
margin-top: px;
background-image: url("http://atlus.com/persona5/img/characters/chara_phantom_queen_bg.png");
    background-repeat: no-repeat;
  background-size:cover;
}

.oracle #pics{
margin-top: px;
background-image: url("http://atlus.com/persona5/img/characters/chara_phantom_navi_bg.png");
    background-repeat: no-repeat;
  background-size:cover;
}

.noir #pics{
margin-top: px;
background-image: url("http://atlus.com/persona5/img/characters/chara_phantom_noir_bg.png");
    background-repeat: no-repeat;
  background-size:cover;
}

/*********************footer*************************************/


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}


@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}